@using DemoApi.Models
@model DemoApi.Models.UrunUretici

<h1>Üretici Sil</h1>

<p>Bu ürünü silmek istediğinize emin misiniz?</p>

<form asp-action="UreticiSil" method="post">
    <input type="hidden" name="id" value="@Model.UreticiId" />
    <button type="submit">Sil</button>
</form>

<a href="@Url.Action("Ureticiler")">Geri</a>
