@using DemoApi.Models
@model DemoApi.Models.UrunUretici

<h1>Üretici Düzenle</h1>

<form asp-action="UreticiDuzenle" method="post">
    <table class="table">
        <tr>
            <td>
                <label for="UreticiId">Üretici ID:</label>
            </td>
            <td>
                <input type="number" id="UreticiId" name="UreticiId" value="@Model.UreticiId" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="Uretici">Uretici:</label>
            </td>
            <td>
                <input type="text" id="Uretici" name="Uretici" value="@Model.Uretici" class="form-control" />
            </td>
        <tr>
            <td colspan="2" class="text-center">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </td>
        </tr>
    </table>
</form>

<a href="@Url.Action("Ureticiler")" class="btn btn-secondary mt-3">Geri</a>
