@using DemoApi.Models
@model DemoApi.Models.UrunUretici
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .container {
        width: 60%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-top: 70px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
    }

    h1 {
        color: #333;
    }

    .product-details {
        margin-bottom: 20px;
    }

    .detail {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

        .detail:last-child {
            border-bottom: none;
        }

    .back-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        float: right;
        width: 70px;
    }

        .back-button:hover {
            background-color: #0056b3;
        }
</style>

<body>
    <div class="container">
    <h1>Üretici Detayları</h1>
        <div class="product-details">
        <div class="detail">
        <p>ID: @Model.UreticiId</p>
         </div>
        <div class="detail">
        <p>İsim: @Model.Uretici</p>
            </div>
        </div>
        <a href="@Url.Action("Ureticiler")">Geri</a>
    </div>
</body>