@model List<DemoApi.Models.UrunGruplari>

<h2>Gruplar</h2>

<table class="table">
    <thead>
        <tr>
            <th>GrupId</th>
            <th>Grup</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grup in Model)
        {
            <tr>
                <td>@grup.GrupId</td>
                <td>@grup.Grup</td>
            </tr>
        }
    </tbody>
</table>
