@{
    ViewData["Title"] = "Urun Grupları";
}

<div class="text-center">
    <h1 class="display-4">Ürün Grupları</h1>
    <a class="btn btn-primary btn-lg mt-4" href="@Url.Action("UrunGrupları", "Grup")">Gruplar</a>
</div>
