@model DemoApi.Models.UrunGruplari

<h1>Yeni Grup Ekle</h1>

<form asp-action="YeniGrup" method="post">
    <table class="table">
        <tr>
            <td>
                <label for="Grup">Grup:</label>
            </td>
            <td>
                <input type="text" id="Grup" name="Grup" class="form-control" required />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </td>
        </tr>
    </table>
</form>

<a href="@Url.Action("Gruplar")" class="btn btn-secondary mt-3">Geri</a>
