@{
    ViewBag.Title = "Markalar";
}

<h2>Markalar</h2>

<table class="table table-striped table-bordered" id="markaTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">MarkaId</th>
            <th scope="col">Marka</th>
            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
            <th scope="col">Detay</th>
        </tr>
    </thead>
    <tbody>
        <!-- Veriler buraya AJAX ile yüklenecek -->
    </tbody>
</table>
<a class="btn btn-primary btn-lg mt-4" style="margin:5px;" href="@Url.Action("YeniMarka", "Marka")">Yeni Marka Ekle</a>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/api/Marka/GetBrand',
                method: 'GET',
                success: function (data) {
                    var tbody = $('#markaTable tbody');
                    $.each(data, function (i, marka) {
                        var row = '<tr>' +
                            '<td>' + marka.markaId + '</td>' +
                            '<td>' + marka.marka + '</td>' +
                            '<td><a class="btn btn-primary btn-sm" href="@Url.Action("MarkaDuzenle", "Marka")/' + marka.markaId + '">Güncelle</a></td>' +
                            '<td><a class="btn btn-primary btn-sm" href="@Url.Action("MarkaSil", "Marka")/' + marka.markaId + '">Sil</a></td>' +
                            '<td><a class="btn btn-primary btn-sm" href="@Url.Action("MarkaDetay", "Marka")/' + marka.markaId + '">Detay</a></td>' +
                            '</tr>';
                        tbody.append(row);
                    });
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    </script>
}
