@{
    ViewData["Title"] = "Mvc Api";
}

<div class="text-center">
    <h1 class="display-4">Web Api Mvc Proje</h1>
    <a class="btn btn-primary btn-lg mt-4" href="@Url.Action("Urunler", "Home")">Ürünler</a>
</div>
