@{
    ViewData["Title"] = "Mvc Api";
}

<style>
    .display-4 {
        font-weight: bold;
        color: #333;
    }

    .lead {
        font-size: 1.25rem;
        color: #666;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

    .carousel-container {
        position: relative;
        width: 100%;
        height: 78.6vh;
        overflow: hidden;
    }

    .carousel-inner {
        height: 100%;
    }

    .carousel-item img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .carousel-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .carousel-buttons .btn {
            margin: 5px;
        }
</style>

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-container" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/slide2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/slide1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/slide3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <div class="carousel-buttons">
        <a class="btn btn-primary btn-lg" href="@Url.Action("Ureticiler", "Uretici")">Üreticiler</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Markalar", "Marka")">Markalar</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Urunler", "Home")">Ürünler</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Gruplar", "Grup")">Gruplar</a>
    </div>
</div>
