@model List<Dictionary<string, string>>

<table class="table">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Marka</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item["UrunAdi"]</td>
                <td>@item["Marka"]</td>
            </tr>
        }
    </tbody>
</table>

